.image {
    width: 30%;
    height: 20%;
    background-color: green;
    float:left;
    padding: 10px 10px 10px 10px;
    border: none;
    margin: 0 0 0 0;
    outline: none;
}
#image {
    width: 30%;
    height: 20%;
    background-color: green;
    float:left;
    padding: 10px 10px 10px 10px;
    border: none;
    margin: 0 0 0 0;
    outline: none;
}